################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SPdf/SPdf/bin/Debug/netcoreapp3.1
/SPdf/.vs/SPdf/v16
/SPdf/SPdf/obj
